<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easywork.mycrm.persistence.JobinfoMapper">
  <resultMap id="BaseResultMap" type="com.easywork.mycrm.persistence.Jobinfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="job" jdbcType="CHAR" property="job" />
    <result column="departmentId" jdbcType="INTEGER" property="departmentid" />
  </resultMap>
</mapper>